<div class="row card-data">
    <div class="col-12 line-gray-bottom padding-col">
        <div class="row">
                <div class="col-6 mb-2 mb-md-0 col-md-1">
                    <img src="{{data.profile_image}}" alt="" srcset="" class="img-user ml-2 mr-1"> 
                </div>
                <!-- img user -->
                <div class="col-6 mb-2 mb-md-0  col-md-2">
                    <label for="" class="text-title">Usuario</label>
                    <p class="p-content">{{data.name}}</p>
                </div>
                <!-- name user -->
                <div class="col-6 mb-2 mb-md-0  col-md-2">
                    <label for="" class="text-title">N° documento identidad</label>
                    <p class="p-content">{{data.manager.dni}}</p>
                </div>
                <!-- nro dni -->
                <div class="col-6 mb-2 mb-md-0  col-md-2">
                    <label for="" class="text-title">Teléfono</label>
                    <p class="p-content">{{data.phone}}</p>
                </div>
                <!-- phone -->
                <div class="col-6  mb-2 mb-md-0 col-md-3">
                    <label for="" class="text-title">Correo</label>
                    <p class="p-content">{{data.email}}</p>
                </div>
                <!-- email -->
                <div class="col-6 mb-2 mb-md-0  col-md-2">
                    <label for="" class="text-title">{{pages == 'tramitadores' ? 'Institución(es)' : 'Tipo de Mensajeria'}}</label>
                    <div class="">
                      
                        <container-element [ngSwitch]="pages">
                            <some-element *ngSwitchCase="'tramitadores'">
                                <p class="p-content" *ngFor="let institute of data.manager.institutions">{{institute.name}}</p>
                            </some-element>
                       
                            <some-element *ngSwitchCase="'messengers'">
                                <!-- <p class="p-content" *ngFor="let i of data.manager.courier">{{i.name}}</p> -->
                                <p class="p-content" >{{data.manager.courier.name}}</p>
                            </some-element>
                         </container-element>
                    </div>
                  
                </div>
                <!-- institution -->
        </div>
    </div>
    <div class="col-12 line-gray-bottom mt-4">
        <div class="row">
            <div class="col-12 col-md-6 mb-2 mb-md-0 padding-col">
                <label class="label-data">Información bancaria</label>
                <div class="row">
                    <div class="col col-md-2">
                        <label for="" class="text-title">Banco</label>
                        <p class="p-content">{{data.manager?.bank?.bank_data.name}}</p>
                    </div>
                    <!-- img user -->
                    <div class="col">
                        <label for="" class="text-title">Tipo de Cuenta</label>
                        <p class="p-content text-capitalize">{{data.manager?.bank?.type_account}}</p>
                    </div>
                    <!-- name user -->
                    <div class="col">
                        <label for="" class="text-title">Número de cuenta</label>
                        <p class="p-content">{{data.manager?.bank?.account_number}}</p>
                    </div>
                    <!-- nro dni -->
    
            </div>
            </div>
            <div class="col-12 col-md-6 padding-col">
                <label class="label-data">Imagen Documento de Identidad</label>
                <div class="col">
                   <img src="{{data.manager.dni_url}}" alt="" srcset="" style="width: 20px;height: 20px;">
                </div>
            </div>
        </div>
          
    </div>
    <div class="col-12 mt-2 pr-0">
        <div class="d-flex justify-content-end flex-row">
            <button class="btn btn-sm btn-approval mr-2 text-primary  text-bold" (click)="Approval(data.id)">Aprobar</button>
            <button class="btn btn-sm btn-cancel text-secondary  text-bold" (click)="Reject(data.id)">Rechazar</button>
        </div>
    </div>
</div>