section {
  .content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .payment-card {
    padding: 1rem;
    margin: 0.5rem 0;
    background-color: #fff;
    width: 23rem;
    height: 23rem;
    border-radius: 4px;
    box-shadow: 0px 3px 6px lightgrey;
    p {
      font-size: 0.875rem;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    .payment-card-title {
      margin: 0.5rem;
    }
    .payment-card-body {
      .row {
        margin: 0.5rem;
        border-bottom: 1px solid lightgrey;
      }
    }
  }
  .pointer {
    cursor: pointer;
  }
}
