<section class="py-2 py-md-5 px-2 px-md-4 ">
  <div class="mb-4 font-weight-bold">Listado de pagos por verificar</div>

  <ng-container *ngIf="orders.length; else noData">
    <!-- Resultado -->
    <div class="content">
      <ng-container *ngFor="let order of orders; let i=index">
        <!-- PaymentCard -->
        <div class="payment-card">
          <div class="payment-card-tittle font-weight-bold">
            Detalle del pago
          </div>
          <div class="payment-card-body">
            <div class="row">
              <div class="col">
                <small class="form-text text-muted">Trámite</small>
                <p>{{order.procedure.name}}</p>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <small class="form-text text-muted">Código</small>
                <p>{{order.procedure.id}}</p>
              </div>
              <div class="col">
                <small class="form-text text-muted">Solicitante</small>
                <p>{{order.applicant_name}}</p>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <small class="form-text text-muted">Código de transparencia/Yappi</small>
                <p>{{order.reference_number}}</p>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <small class="form-text text-muted">Monto pagado</small>
                <p>{{order.procedure.cost | currency }}</p>
              </div>
            </div>
          </div>
          <div>
            <button type="button" class="btn btn-link pointer" (click)="updateOrderStatus(order.id, 1)">
              <label for="">Aprobado</label>
            </button>
            <button type="button" class="btn btn-link pointer" (click)="updateOrderStatus(order.id, 2)">
              <label class="text-black-50">Denegado</label>
            </button>
          </div>
        </div>
      </ng-container>

    </div>
  </ng-container>
  <ng-template #noData>
    <div class="alert alert-primary" role="alert">
      No hay registros disponibles
    </div>
  </ng-template>


</section>