@import "../../../../assets/variables";
.navbar{
    border-bottom: 1px solid $gray2;
    background: white;
    padding-left: 11px;
    .navbar-brand{
        text-align: center;
        width: 59px;
        padding-right: 4px;
        margin-right: 10px;
        border-right: 1px solid $gray2;
     
    }
    .btn-info{
        background: transparent;
        border: none;
        color: $blue;
        font-size: 1.5rem;
        padding: none;
    }
    .nav-item{
        
        a{
            font-weight: 600;
            color: black !important;
        }
    }
    .btn-notification{
        color: $blue;
    }
}