<section class="login p-2 pt-5 p-md-5">
	<div class="wrapper d-flex flex-column flex-md-row align-items-center justify-content-center m-auto">
			<!-- <div class="row"> -->
					<div class="col col-md-5 ">
							<div class="card py-2">
								<div class="card-body">
									<div class="text-center">
									
                                        <div class="img-circle-icon">	<img src="../../../../../assets/icon/check_circle_gray.svg" alt="" srcset="">  </div>
                                        <h5 class="text-center mt-2">Restablecer contraseña</h5>
									</div>
								
			
									<p class="text-center px-3 my-4">
                                        Se envío correctamente un correo de <br> restablecimiento de contraseña,
                                         por <br> favor ubica el token que recibiste e ingrésalo <br> en el siguiente 
                                         formulario para <br> completar el proceso.</p>
                                    <div class="d-flex justify-content-center px-5">
                                        
                                        <button class="btn btn-block button-primary mb-md-3" type="submit" (click)="onSubmit()">Aceptar</button>
                                    </div>
								</div>
							</div>
					</div>
			<!-- </div> -->
	</div>

</section>