<section class="py-2 py-md-5 px-2 px-md-4 ">
  <div class="container bank">
    <div class="card ">
      <div class="card-body px-0">
        <div class="card-title px-4 ">
          <div class="row">
            <div class="col-8">
              <h5>Listado de trámites disponibles </h5>
              <label for="" class="text-secondary">Trámites creados hasta el momento</label>
            </div>
            <div class="col-4 text-right">
              <label for="btn-create" class="text-primary">Crear trámites</label>
              <button class="btn btn-primary btn-sm ml-2" id="btn-create" data-toggle="modal"
                data-target="#exampleModal" (click)="add()">
                <i class="bi bi-plus-lg"></i>
              </button>
            </div>
          </div>
        </div>
        <div class="card-text px-2">
          <div class="col-12" *ngFor="let data of procedures | paginate: { itemsPerPage: 
            paginator?.perPage, currentPage: paginator?.currentPage, 
            totalItems: paginator?.total } ;let i = index">
            <div class="row justify-content-between">
              <div class="w-25">
                <label for="" class="text-secondary">Trámite</label>
                <p>{{data.name}}</p>
              </div>
              <div class="w-25">
                <label for="" class="text-secondary">Intitución</label>
                <p>{{data.institution.name}}</p>
              </div>
              <div>
                <label for="" class="text-secondary">Tiempo estimado</label>
                <p>{{data.estimated_time}}</p>
              </div>
              <div class="d-flex justify-content-end">
                <button class="btn  text-primary" data-toggle="modal" data-target="#exampleModal"
                  (click)="update(data)">Editar</button>
                <button class="btn text-secondary" (click)="delete(data.id)">Eliminar</button>
              </div>
            </div>
          </div>
          <!--  -->
          <div class="text-center">
            <pagination-controls (pageChange)="pageChange($event)" previousLabel="Anterior" nextLabel="Siguiente">
            </pagination-controls>
          </div>
          <!--  -->
        </div>
      </div>
    </div>
  </div>
</section>

<div class="modal fade bd-example-modal-sm" id="exampleModal" tabindex="-1" role="dialog"
  aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{isEdit ? 'Editar trámite' : 'Crear trámite' }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="modal-body">
          <div class="row">
            <div class="col">
              <div class="form-group">
                <label for="name">Nombre del trámite</label>
                <input type="text" class="form-control" name="name" id="name" placeholder="Ingresar nombre"
                  formControlName="name">
                <div *ngIf="submitted && f.name.errors?.required" class="invalid-feedback d-block">
                  Campo Requerido
                </div>
              </div>
            </div>
            <div class="col">
              <div class="d-flex flex-column mb-3 m-r-1">
                <label for="" class="text-secondary">Precio del tramite ($)</label>
                <input type="text" class="form-control" placeholder="Ingrese precio" formControlName="cost">
                <div *ngIf="submitted && f.cost.errors?.required" class="invalid-feedback d-block">
                  Campo Requerido
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="form-group">
                <label for="institution_id" class="text-secondary">Institución</label>
                <select class="form-control" name="institution_id" id="institution_id" formControlName="institution_id">
                  <option value="" selected>Selecciones</option>
                  <option *ngFor="let i of institutions" [value]="i.id">{{i.name}}</option>
                </select>
                <div *ngIf="submitted && f.institution_id.errors?.required" class="invalid-feedback d-block">
                  Campo Requerido
                </div>
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <label for="estimated_time">Tiempo estimado (horas)</label>
                <input type="number" class="form-control" name="estimated_time" id="estimated_time"
                  placeholder="Ingresar tiempo" formControlName="estimated_time" min="1">
                <div *ngIf="submitted && f.estimated_time.errors?.required" class="invalid-feedback d-block">
                  Campo Requerido
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="form-group">
                <label for="managerTypes" class="text-secondary">Tipo de gestoría</label>
                <select class="form-control" name="managerTypes" id="managerTypes" formControlName="managerTypes"
                  multiple [compareWith]="compareObjects">
                  <option value="" selected>Seleccione</option>
                  <option [ngValue]="type.value" selected="i=1"
                    *ngFor="let type of types;let i=index; trackBy:trackByType">
                    {{type.name}}</option>
                </select>
                <small id="helpId" class="text-muted">Ctrl+click para multiple selección</small>
                <div *ngIf="submitted && f.managerTypes.errors?.required" class="invalid-feedback d-block">
                  Campo Requerido
                </div>
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <label for="requeriments" class="text-secondary">Requisitos</label>
                <select class="form-control" name="requeriments" id="requeriments" formControlName="requeriments"
                  multiple>
                  <option value="" selected>Seleccione</option>
                  <option *ngFor="let r of requirements" [value]="r.id">{{r.name}}</option>
                </select>
                <small id="helpId" class="text-muted">Ctrl+click para multiple selección</small>
                <div *ngIf="submitted && f.requeriments.errors?.required" class="invalid-feedback d-block">
                  Campo Requerido
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary text-secondary" data-dismiss="modal"
            (click)="Clean()">Cancelar</button>
          <button type="submit" class="btn btn-primary">Registrar</button>
        </div>
      </form>
    </div>
  </div>
</div>