
@import "../../../../assets/variables";


// #sidebar {
//     width: 250px;
 
//     height: 100vh;
   
//     // background: #7386D5;
//     color: #fff;
//     transition: all 0.3s;

// }

#sidebar.active {
    min-width: 100px;
    max-width: 100px;
    text-align: center;
    .rol-user{
        display: none;
    }
    .title-option{
        display: none;
    }

    .sidebar-header{
        padding-bottom: 35px ;
    }

    .profile-user{
        margin-bottom: 20px !important;
    }

   ul li a {
        justify-content: center !important;
         
            .icon-menu{
                margin-right:0px;
            
            }
    }

    .dropdown-toggle  {
    
        justify-content: start !important;
        i{
            display: none;
        }
    }
}

// 
#sidebar {
    
    min-width: 250px;
    max-width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    min-height: 120vh;
   
    background: $blue;
    color: #fff;
    transition: all 0.3s;
    font-size: 0.8rem;
    
    .profile-user{
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        margin-top: 10px;
        margin-bottom: 10px;
        // margin-bottom: 12px;
        .img-user{
            border-radius: 60px;
            height: 60px;
            width: 60px;
            margin-left: auto;
            margin-right: auto;
        }

      

        label{
            font-size: 1.2rem;
            font-weight: 600;
        }

        p{
            padding-top: 1px;
            margin: 0;
            font-size: 0.8rem;
        }
    }
   
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle  {
    // display: flex !important;
    justify-content: space-around !important;
    i{
        font-size: 0.8rem;
        margin-left: auto;
    }
}

.dropdown-toggle::after{
    
        display: none;
        // position: absolute;
        // top: 50%;
        // right: 20px;
        transform: translateY(-50%);
  
}




a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
   
}



#sidebar .sidebar-header {
    padding: 15px;
    //  padding: 20px
    background: white;
    text-align: center;
    border: 1px solid $gray2;
    transition: all 0.3s;
    .img1{
        width: 180px;
    }
}

label.title-option{
    cursor: pointer;
}




#sidebar ul.components {
    padding: 20px;
    // border-bottom: 1px solid #47748b;
    max-height: 420px;
    margin-right: 5px;
    margin-bottom: 15px;
    overflow-y:scroll;
    -webkit-overflow-scrolling :initial;
   
    /* width */
    &::-webkit-scrollbar {
    width: 5px;
    
  }
  
  /* Track */
  &::-webkit-scrollbar-track {
    background: transparent; 
  }
   
  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: #d0cdcd91; 
    border-radius: 5px;
    transition: all 0.3s;
    
  }
  
 
    
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
    
}

#sidebar ul li a {
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 1em;
    display: flex;
    align-items: center;

    .icon-menu{
        margin-right: 6px;
        height: 20px;
        background-size: 20px !important;
        width: 20px;
    }
    // menu icon 

        .icon-menu.option1{
            background-image: url("../../../../assets/icon/menu/dashboard.svg");
            background-repeat: no-repeat;
            background-size: 25px;
            background-position: 0% 0%;
        }

        .icon-menu.option2{
            background-image: url("../../../../assets/icon/menu/double_person.svg");
            background-repeat: no-repeat;
            background-size: 25px;
            background-position: 0% 0%;
        }

        .icon-menu.option3{
            background-image: url("../../../../assets/icon/menu/folder_check_error.svg");
            background-repeat: no-repeat;
            background-size: 25px;
            background-position: 0% 0%;
        }
        .icon-menu.option4{
            background-image: url("../../../../assets/icon/menu/notifications.svg");
            background-repeat: no-repeat;
            background-size: 25px;
            background-position: 0% 0%;
        }

        .icon-menu.option5{
            background-image: url("../../../../assets/icon/menu/double_check.svg");
            background-repeat: no-repeat;
            background-size: 25px;
            background-position: 0% 0%;
        }

        .icon-menu.option6{
            background-image: url("../../../../assets/icon/menu/finance.svg");
            background-repeat: no-repeat;
            background-size: 25px;
            background-position: 0% 0%;
        }

        .icon-menu.option7{
            background-image: url("../../../../assets/icon/menu/double_person_plus.svg");
            background-repeat: no-repeat;
            background-size: 25px;
            background-position: 0% 0%;
        }

        .icon-menu.option8{
            background-image: url("../../../../assets/icon/menu/config.svg");
            background-repeat: no-repeat;
            background-size: 25px;
            background-position: 0% 0%;
        }

    // menu icon 
}
#sidebar ul li a:hover {
    // color: #7386D5;
    cursor: pointer;
    // background: #fff;
}

#sidebar ul li.active {
    color: #fff;
    background: #3ABBD2;
    border-radius: 5px;

 
    
    .icon-menu.option1{
        background-position: 100% 100% !important;
    }

    .icon-menu.option2{
        background-position: 100% 90% !important;
    }

    .icon-menu.option3{
        background-position: 100% 90% !important;
    }
    
    .icon-menu.option4{
        background-position: 100% 90% !important;
    }

    .icon-menu.option5{
        background-position: 100% 90% !important;
    }


    
  
}

li a.dropdown-toggle[aria-expanded="true"]{
    border-radius: 5px 5px 0px 0px;
    background:#3ABBD2 ;
    margin-top: .50rem;
    // border-radius: 0px 0px 5px 5px;
     i{
        transform: rotate(180deg);
    }

    .icon-menu.option6{
        background-position: 100% 90% !important;
    }

    .icon-menu.option7{
        background-position: 100% 90% !important;
    }

    .icon-menu.option8{
        background-position: 100% 90% !important;
    }
    // ul.collapse li a{
    //     background: transparent;
    //     color: black;
    // }
       
}




 ul.collapse   {
    a{
        background: #3ABBD2;
        color: black;
    }
       
}

ul.collapse.show   {
    border-radius: 5px 5px 0px 0px;
    a.active{
       
        color: white;
    }
       
}


@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
       display: none;
    }
    #sidebar.active {
        margin-left: 0;
        display: unset;
    }
}

