
@import "../../../../assets/variables";
.wrapper {
    display: flex;
    align-items: stretch;
}



#sidebar.active {
    min-width: 120px;
    max-width: 120px;
    text-align: center;
}

// 
#sidebar {
    min-width: 250px;
    max-width: 250px;
  
    min-height: 115vh;
   
    background: $blue;
    color: #fff;
    transition: all 0.3s;
    font-size: 0.8rem;

    // ul.collapse{
    //     background:#3ABBD2 ;
    //     border-radius: 0px 0px 5px 5px;
    //     li a{
    //         background: transparent;
    //     }

       
    // }
   
}

a[data-toggle="collapse"] {
    position: relative;
}
.dropdown-toggle  {
    // display: flex !important;
    justify-content: space-around !important;
    i{
        font-size: 0.8rem;
        margin-left: auto;
    }
}
.dropdown-toggle::after{
    
        display: none;
        // position: absolute;
        // top: 50%;
        // right: 20px;
        transform: translateY(-50%);
  
}


@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}



#sidebar .sidebar-header {
    padding: 20px;
    background: white;
    border: 1px solid $gray2;
}

#sidebar ul.components {
    padding: 20px;
    // border-bottom: 1px solid #47748b;
    .profile-user{
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;

        .img-user{
            border-radius: 60px;
            height: 60px;
            width: 60px;
            margin-left: auto;
            margin-right: auto;
        }

        label{
            font-size: 1.2rem;
            font-weight: 600;
        }

        p{
            padding-top: 1px;
            font-size: 0.8rem;
        }
    }
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
    
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: flex;
    align-items: center;
    .icon-menu{
        margin-right: 5px;
    }
}
#sidebar ul li a:hover {
    // color: #7386D5;
    cursor: pointer;
    // background: #fff;
}

#sidebar ul li.active {
    color: #fff;
    background: #3ABBD2;
    border-radius: 5px;
  
  
}

li a.dropdown-toggle[aria-expanded="true"]{
    border-radius: 5px 5px 0px 0px;
    background:#3ABBD2 ;
    margin-top: .50rem;
    // border-radius: 0px 0px 5px 5px;
     i{
        transform: rotate(180deg);
    }
    // ul.collapse li a{
    //     background: transparent;
    //     color: black;
    // }
       
}




 ul.collapse   {
    a{
        background: #3ABBD2;
        color: black;
    }
       
}

ul.collapse.show   {
    border-radius: 5px 5px 0px 0px;
    a.active{
       
        color: white;
    }
       
}