<nav id="sidebar">
    <div class="sidebar-header">
        <img src="../../../../assets/logo/logo.svg" alt="" srcset="">
    </div>
    
    <ul class="list-unstyled components">
        <div class="profile-user ">
                <img src="../../../../assets/user-img/user.png" alt="" srcset="" class="img-user">
                <label for="" class="m-0">Melissa Olaya</label>
                <p class="">Administrador</p>
        </div>
        <li   >
            <a  href="pages/dashboard" >Dashboard</a>
        </li>
        <li>
            <a href="#pageSubmenu">Usuarios</a>
        </li>
        <li>
            <a >Monitoreo</a>
        </li>
        <li>
            <a >Notificaciones</a>
        </li>
        <li>
            <a >Disponibilidad</a>
        </li>
        <li>
            <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                Pages
                <i class="bi bi-chevron-down"></i>
            </a>
            <ul class="collapse list-unstyled" id="pageSubmenu">
                <li>
                    <a href="#">Page 1</a>
                </li>
                <li>
                    <a href="#">Page 2</a>
                </li>
                <li>
                    <a href="#">Page 3</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#">Portfolio</a>
        </li>
        <li>
            <a href="#">Contact</a>
        </li>
    </ul>
</nav>
