<section class="login p-5">
	<div class="wrapper d-flex flex-column flex-md-row align-items-center justify-content-center m-auto">
			<!-- <div class="row"> -->
					<div class="col-5 ">
							<div class="card py-2">
								<div class="card-body">
									<div class="text-center">
										<img src="../../../../assets/logo/logo.svg" alt="" srcset="">
									</div>
								
			
									<form  class="form p-2 px-4 mt-4" [formGroup]="FormLogin" (ngSubmit)="onSubmit()">
										<div class="form-floating mb-4">
											<label for="email" class="label-form">Correo electronico</label>
											<input  type="email" class="form-control" id="email"
												placeholder="Ingresa tu correo" maxlength="40" 
												formControlName="email" />
												<div *ngIf="submitted && f.email.errors?.required" class="invalid-feedback d-block">
													Campo Requerido
												</div>
												<div *ngIf="submitted && f.email.errors?.email" class="invalid-feedback d-block">
													Email Invalido
												</div>
										
										</div>
			
										<div class="form-floating mb-4">
											<label for="password" class="label-form">Contraseña</label>
											<div class="input-group mb-3">
												<input  [type]="fieldTextType ? 'text' : 'password'"  maxlength="20"
												class="form-control password" placeholder="Ingresa tu contraseña" id="password"
												formControlName="password" >
												<div class="input-group-append">
												  <span class="input-group-text" id="basic-addon2">	
													<i   [ngClass]="{
														'bi-eye-slash-fill': !fieldTextType,
														'bi-eye-fill': fieldTextType
													  }"
													  (click)="toggleFieldTextType()"></i>
												</span>
												</div>
											  </div>
											  <div *ngIf="submitted && f.password.errors?.required" class="invalid-feedback d-block">
												Campo Requerido
											</div>
											<div *ngIf="submitted && f.password.errors?.minlength" class="invalid-feedback d-block">
												La contraseña debe contener al menos 8 caracteres
											</div>
										
										</div>
			
										<div class="d-flex justify-content-between">
											<a [routerLink]="'/pages/password-recovery'" class="link d-block mb-3">¿Olvidó su contraseña?</a>
											<button class="btn button-primary mb-md-3" type="submit">Iniciar sesión</button>
										</div>
									</form>
								</div>
							</div>
					</div>
			<!-- </div> -->
	</div>

</section>


