// degradado
$gradient : linear-gradient(180deg, rgba(99,221,109,0.8295693277310925) 0%, rgba(25,194,135,0.9136029411764706) 26%, rgba(255,255,255,1) 72%);
// background pages
$background : rgb(99,221,109);
// background button
$background-button : #304FFE;
// gray 
$gray1 : #dcdcdc42;
$gray2 : #dcdcdc;
$gray-icon : #575757;
// body
$body : #F7F7F7;
// blue
$blue : #304FFE;;