/* You can add global styles to this file, and also import other style files */
@import "assets/variables";
// :root {
//     --pseudo-element: red;
// }

html,
body {
    height: 100%;
}

body {
    margin: 0;
    // font-family: $text-secondary ;
    background-color: $body;
}

input {
    background: #dcdcdc42 !important;
    color: gray;
    box-shadow: none !important;
}

input.password {
    border-right: none !important;
}

.input-group-text {
    border-left: none;
    background: #dcdcdc42 !important;
}

.label-form {
    color: gray !important;
    font-size: 0.8rem;
}

.button-primary {
    background: $background-button;
    color: wheat !important;
}

.img-circle-icon {
    background: $gray2;
    border-radius: 60px;
    margin-left: auto;
    margin-right: auto;
    width: 55px;
    height: 55px;
    align-items: center;
    padding: 10px;
    // i.bi
    //     font-size: 1.8rem;
    //     color : $gray-icon;
    // }
}

// .collapse:not(.show) {
//     display: block;
//     min-width: 100px !important;
// }

#sidebar.active > #content {
    margin-left: 100px;
}

.button-cancel-sweet {
    background: white !important;
    color: $gray3 !important;
    border: 1px solid $gray2 !important;
}

.material-icons {
    background-color: #d8dce6;
    padding: 0.4rem;
    border-radius: 100%;
    color: #7c859b;
    font-size: 1rem;
}

.pointer {
    cursor: pointer;
}

/* Importing Bootstrap SCSS file. */
// @import '~bootstrap/scss/bootstrap';

button.calendar,
button.calendar:active {
    width: 2.75rem;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACIAAAAcCAYAAAAEN20fAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAOxAAADsQBlSsOGwAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAEUSURBVEiJ7ZQxToVAEIY/YCHGxN6XGOIpnpaEsBSeQC9ArZbm9TZ6ADyBNzAhQGGl8Riv4BLAWAgmkpBYkH1b8FWT2WK/zJ8ZJ4qiI6XUI3ANnGKWBnht2/ZBDRK3hgVGNsCd7/ui+JkEIrKtqurLpEWaphd933+IyI3LEIdpCYCiKD6HcuOa/nwOa0ScJEnk0BJg0UTUWJRl6RxCYEzEmomsIlPU3IPW+grIAbquy+q6fluy/28RIBeRMwDXdXMgXLj/B2uimRXpui4D9sBeRLKl+1N+L+t6RwbWrZliTTTr1oxYtzVWiTQAcRxvTX+eJMnlUDaO1vpZRO5NS0x48sIwfPc87xg4B04MCzQi8hIEwe4bl1DnFMCN2zsAAAAASUVORK5CYII=) !important;
    background-repeat: no-repeat;
    background-size: 23px;
    background-position: 50%;
}
