<section class="p-2 p-md-5 dashboard">
    <div class="container p-2 pl-md-5">
            <div class="row">
                <!-- title -->
                <div class="col-12">
                        <h1 class="title">Bienvenida Melisa!</h1>
                        <p class="sub-title">Estadísticas Descomplicate</p>
                </div>
                <!-- title -->
                <!-- card primary -->
                <div class="col-12 mt-2 primary">
                    <label for="" class="title-card">Acceso Rapido</label>
                        <div class="row">
                            <!-- card acceso rapido -->
                                <div class="col-6 col-md-3 mb-2">
                                        <a href="/pages/monitoring" style="text-decoration: none;">
                                    
                                        <div class="card monitor" >
                                            <div class="card-body">
                                            <div class="card-title">
                                                <div class="img-circle-icon">	<img src="../../../assets/icon/folder_check_error_white.svg" alt="" srcset=""> </div>
                                            </div>
                                        
                                            <p class="card-text text-dark">Monitoreo de <br> trámite</p>
                                    
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-6 col-md-3 mb-2">
                                    <a href="/pages/approval/tramitadores" style="text-decoration: none;">
                                        <div class="card aprobacion" >
                                            <div class="card-body">
                                            <div class="card-title">
                                                <div class="img-circle-icon">	<img src="../../../assets/icon/person_double_plus_white.svg" alt="" srcset=""> </div>
                                            </div>
                                        
                                            <p class="card-text text-dark">Aprobaciones</p>
                                    
                                            </div>
                                        </div>
                                     </a>
                                </div>
                                <div class="col-6 col-md-3 mb-2">
                                    <div class="card finanzas" >
                                        <div class="card-body">
                                        <div class="card-title">
                                            <div class="img-circle-icon">	<img src="../../../assets/icon/finance_white.svg" alt="" srcset=""> </div>
                                        </div>
                                    
                                        <p class="card-text">Finanzas</p>
                                
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6 col-md-3 mb-2">
                                    <div class="card disponibilidad" >
                                        <div class="card-body">
                                        <div class="card-title">
                                            <div class="img-circle-icon">	<img src="../../../assets/icon/check_double_white.svg" alt="" srcset=""> </div>
                                        </div>
                                    
                                        <p class="card-text">Disponibilidad  de  gestores</p>
                                
                                        </div>
                                    </div>
                                </div>
                        </div>
                </div>
                <!-- card primary -->
                <!-- card secondary -->
                <div class="col-12 mt-4 secondary">
                    <div class="row">
                        <div class="col-12 col-md-4 mb-2">
                            <label for="" class="title-card">Estadísticas Descomplicate</label>
                            <div class="card " >
                                <div class="card-body">
                                <div class="card-title">
                                    <label for="" class="title-card mb-0">{{active_ordes}}</label>
                                    <div class="d-flex justify-content-between sub-title"> N° Trámites activos <img src="../../../assets/icon/dashboard/file_plus_gray.svg" alt="" srcset=""></div>
                                </div>
                            
                                <div class="card-text">
                                    <div class="progress">
                                        <div class="progress-bar bg-orange" role="progressbar" [style.width.%]="porcentaje_ordes" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                                      </div>
                                </div>
                        
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <label for="" class="title-card">Disponibilidad de Gestores</label>
                            <div class="d-flex flex-row multiple-card">
                                <div class="card card-union union-1 mr-0" style="width:50%">
                                    <div class="card-body">
                                    <div class="card-title">
                                        <label for="" class="title-card mb-0">{{active_processors}}</label>
                                        <div class="d-flex justify-content-between sub-title"> N° Tramitadores activos <img src="../../../assets/icon/dashboard/check_double_gray.svg" alt="" srcset=""></div>
                                    </div>
                                
                                        <div class="card-text">
                                            <div class="progress">
                                                <div class="progress-bar bg-red" role="progressbar" [style.width.%]="porcentaje_processors" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </div>
                            
                                    </div>
                                </div>
                                <!--  -->
                                <div class="line-height-card"></div>
                                <div class="card  card-union union-2 ml-0" style="width:50%">
                                    <div class="card-body">
                                    <div class="card-title">
                                        <label for="" class="title-card mb-0">{{active_messengers}}</label>
                                        <div class="d-flex justify-content-between sub-title">N° Mensajeros activos<img src="../../../assets/icon/dashboard/person_one_gray.svg" alt="" srcset=""></div>
                                    </div>
                                
                                        <div class="card-text">
                                            <div class="progress">
                                                <div class="progress-bar bg-green" role="progressbar" [style.width.%]="porcentaje_messengers" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </div>
                            
                                    </div>
                                </div>
                            </div>
                          
                        </div>
                    </div>
                </div>
                <!-- card secondary -->
            </div>
    </div>
</section>
